/* start gobal rules  */
body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--main-color);
    color: white;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    height: 30px;
    background-size: 30px 30px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end gobal rules  */
/* start header  */
.header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    font-weight: bold;
    font-size: 26px;
    color: var(--main-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width:767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li>a {
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    height: 72px;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
}

.header .main-nav>li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

@media (max-width:767px) {
    .header .main-nav>li>a {
        padding: 10px 20px;
        height: 50px;
        font-size: 14px;
    }
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    left: 0;
    z-index: -1;
    display: flex;
    gap: 50px;
    width: 100%;
    background-color: white;
    top: calc(100% + 50px);
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    opacity: 0;
    transition: var(--main-transition);
}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    display: block;
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #e9e6e6;
    width: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* end header  */
/* start langding  */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    top: -40px;
    left: 0;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-6deg);
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    padding-bottom: 120px;
    align-items: center;
}

.landing .text {
    padding: 70px 0px;
    flex: 1;
}

@media (max-width:991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text span {
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--main-color);
}

.landing .text h1 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0;
}

.landing .text p {
    color: #666;
    line-height: 1.7;
    font-size: 18px;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width:991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    width: 600px;
    position: relative;
    animation: up-down 5s linear infinite;
}

@media (max-width:991px) {
    .landing .image img {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: var(--main-color);
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* end langding  */
/* start articles  */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-top);
    position: relative;
}

.main-title {
    text-transform: uppercase;
    font-size: 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto 70px;
    padding: 10px 20px;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
}

.main-title::after {
    content: "";
    width: 12px;
    position: absolute;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color-alt);
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    content: "";
    width: 12px;
    position: absolute;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color-alt);
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: .7s;
}

.main-title:hover::before {

    animation: move-left .7s linear forwards 1;
}

.main-title:hover::after {

    animation: move-right .7s linear forwards 1;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    border-radius: 6px;
    box-shadow: 0 2px 15px 2px rgb(0 0 0 / 10%);
    background-color: white;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 1px 2px 15px 5px rgb(0 0 0 / 20%)
}

.articles .box:hover i {
    animation: moving-arrow .6s linear infinite;

}

.articles .box img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    line-height: 1.6;
    color: #777;
    margin: 10px 0 0;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #0000001a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
}

.articles .box .info i {
    color: var(--main-color);
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
}

/* end articles  */
/* start gallery  */
.gallery {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
    overflow: hidden;
    position: relative;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff59;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing .7s;
}

.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: scale(1.1)rotate(6deg);
}

/* end gallery  */
/* start features  */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
    background-color: #f44036;
}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

/* end features  */
/* start testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 7%);
}

.testimonials .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -50px;
    border: 10px solid var(--section-background);
}

.testimonials .box h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.testimonials .box span {
    color: #777;
    display: block;
    margin: 0 0 10px;
}

.testimonials .box .rate i {
    color: #ffc107;
}

.testimonials .box p {
    color: #777;
    line-height: 1.5;
    margin: 10px 0 0;
}

/* end testimonials */
/* start team  */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
}

.team .box::after,
.team .box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: var(--main-transition)
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after {
    z-index: -1;
    width: 0;
    background-color: #e4e4e4;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}

.team .box:hover img {
    filter: grayscale(100%);
}

.team .box .data .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 20px;
}

.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .box .data .social i {
    color: #777;
    transition: var(--main-transition);
}

.team .box .data .social a:hover i {
    color: var(--main-color);
}

.team .box .data .social a:hover .special {
    color: red;
}

.team .box .info {
    padding-left: 80px;
}

.team .box .info h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 0;
    transition: var(--main-transition);

}

.team .box:hover h3 {
    color: #777;
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}

/* end team  */
/* start services  */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    position: relative;
    counter-increment: services;
}

.services .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box:hover::before {
    width: 100%;
}

.services .box i {
    color: #d5d5d5;
    display: block;
    margin: 30px auto 20px;
    text-align: center;
}

.services .box h3 {
    color: var(--main-color);
    text-align: center;
    font-size: 25px;
    margin: 20px auto 40px
}

.services .box .info {
    background-color: #F9F9F9;
    position: relative;
    text-align: right;
    padding: 15px;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    background-color: var(--main-color);
    top: 0;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
}

.services .box .info::after {
    content: "";
    background: #D5D5D5;
    position: absolute;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    top: 0;
    transform: skewX(-30deg);
}

.services .box .info a {
    color: var(--main-color);
}

/* end services  */
/* start our-skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-skills .skills .skill h3 span {
    border: 1px solid #ccc;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skills .skills .skill .the-progress {
    height: 30px;
    background-color: var(--section-background);
    position: relative;
}

.our-skills .skills .skill .the-progress span {
    background-color: var(--main-color);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

/* end our-skills */
/* start work */
.work {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.work .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:991px) {
    .work .container {
        flex-direction: column;
    }
}

.work .image {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .work .image {
        margin: 0 0 50px;
    }
}

.work .info .box {
    background-color: #f6f5f5;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    border: 2px solid white;
    border-radius: 6px;
    z-index: 1;
}

@media (max-width: 991px) {
    .work .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.work .info .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}

.work .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work .info .box img {
    max-width: 64px;
    margin-right: 30px;
}

@media (max-width:991px) {
    .work .info .box img {
        max-width: 64px;
        margin: 0 auto 20px;
    }
}

.work .info .box h3 {
    font-size: 22px;
    margin: 0;
}

.work .info .box p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin: 10px 0 0px;
}

/* end work */
/* start events  */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .dots {
    background-image: url(../imgs/dots.png);
    width: 204px;
    height: 186px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.events .dots-up {
    right: 0;
    top: 200px;
}

.events .dots-down {
    left: 0;
    bottom: 200px;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img {
    max-width: 450px;
}

@media (max-width:991px) {
    .events .container img {
        display: none;
    }

    .events .container {
        flex-direction: column;
    }
}

.events .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
}

.events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
    background-color: white;
}

.events .info .time .unit:hover,
.events .info .time .unit:hover span:nth-last-of-type(1) {
    border-color: var(--main-color);
}

.events .info .time .unit span:nth-of-type(1) {
    color: var(--main-color);
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 25px 0;
}

.events .info .time .unit span:nth-last-of-type(1) {
    display: block;
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .info .title {
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0;
}

.events .info .description {
    color: #777;
    line-height: 1.7;
    text-align: center;
    font-size: 20px;
    background-color: white;
}

.events .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form {
    text-align: center;
    background-color: var(--section-background);
    padding: 30px;
    border-radius: 50px;
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

@media (max-width:767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
    }

    .events .subscribe form input[type="email"] {
        flex-basis: 65%;
    }

    .events .subscribe form input[type="submit"] {
        flex-basis: 31%;
    }
}

.events .subscribe form input[type="email"] {
    width: 75%;
    padding: 20px;
    border-radius: 50px;
    border: navajowhite;
    caret-color: var(--main-color);
}

.events .subscribe form input[type="email"]:focus {
    outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input[type="submit"] {
    width: 20%;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

.events .subscribe form input[type="submit"]:hover {
    background-color: #1787e0;
}

/* end events  */
/* start pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.pricing .dots {
    background-image: url(../imgs/dots.png);
    width: 204px;
    height: 186px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.pricing .dots-up {
    right: 0;
    top: 200px;
}

.pricing .dots-down {
    left: 0;
    bottom: 200px;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    position: relative;
    background-color: white;
    z-index: 2;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    text-align: center;
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    transition: var(--main-transition);
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
}

.pricing .box::before {
    top: 0;
    left: 0;
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}

@media (min-width:1200px) {
    .pricing .popular {
        transform: translateY(-20px);
    }
}

.pricing .popular .label {
    top: 0;
    position: absolute;
    right: 20px;
    writing-mode: vertical-rl;
    padding: 10px 10px 35px 10px;
    background-color: var(--main-color);
    color: white;
    width: 40px;
    font-size: 18px;
    font-weight: bold;
}

.pricing .popular .label::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent white;
    border-width: 20px;
    left: 0;
    position: absolute;
    bottom: -1px;
}

.pricing .box .title {
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
}

.pricing .box img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .box .price {
    margin-bottom: 20px;
}

.pricing .box .price .amount {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color)
}

.pricing .box .price .time {
    color: #777;
}

.pricing .box ul {
    text-align: left;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}

.pricing .box a {
    margin: 30px auto 35px;
    display: block;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: fit-content;
    padding: 15px 20px;
    transition: var(--main-transition);
    border-radius: 6px;
    font-weight: bold;
}

.pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
}

/* end pricing */
/* start videos */
.videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.videos .holder {
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: var(--section-background);
}

@media (max-width:767px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .holder .list {
    min-width: 300px;
    background-color: white;
}

.videos .holder .list .name {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
}

.videos .holder .list .name i {
    color: var(--main-color);
}

.videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .holder .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}

.videos .holder .preview img {
    max-width: 100%;
}

.videos .holder .preview .info {
    background: white;
    padding: 20px;
    margin-top: 10px;
}

/* end videos */
/* start stats */
.stats {
    background-image: url(../imgs/stats.jpg);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 50px;
    width: fit-content;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    background: white;
    position: relative;
    padding: 30px 15px;
    text-align: center;
    transition: var(--main-transition);
    opacity: 0.7;
}

.stats .box:hover {
    opacity: 1;
}

.stats .box::before,
.stats .box::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    background-color: var(--main-color);
    transition: .8s;
}

.stats .box::before {
    top: 0;
    left: 0;
}

.stats .box::after {
    bottom: 0;
    right: 0;
}

.stats .box:hover::after,
.stats .box:hover::before {
    height: 100%;
}

.stats .box .number {
    display: block;
    margin: 10px 0 10px;
    font-size: 50px;
    font-weight: bold;

}

.stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

/* end stats */
/* start sign-up */
.sign-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100vh;
}

@media (max-width:991px) {
    .sign-up {
        flex-direction: column;
        height: 100%;
    }

}

.sign-up .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 50%;
    direction: rtl;
    color: white;
}

.sign-up .box-1 h2 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
}

.sign-up .box-1 p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
}

.sign-up .box-1 img {
    max-width: 50%;
    padding: 20px 0 20px;
}

.sign-up .box {
    text-align: center;
    padding: 20px;
    flex-basis: 50%;
}

.sign-up .box input {
    padding: 10px;
    border: none;
    margin: 10px 0 15px;
    border-radius: 4px;
    outline: none;
    caret-color: var(--main-color);
    background-color: #eee;
    width: calc(100% - 50px);
}

.sign-up .box h2 {
    FONT-SIZE: 40px;
    color: var(--main-color);

}

.sign-up .box i {
    font-size: 25px;
    padding: 5px;
    color: var(--main-color) !important;
    transition: var(--main-transition);
    text-align: center;
}

.sign-up .box i:hover {
    background-color: var(--main-color);
    color: white !important;
    border-radius: 50%;
}

.sign-up .box button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 0px 3px green;
    border-radius: 4px;

}

.sign-up .box input:focus::placeholder {
    opacity: 0;
}

.sign-up .box input::placeholder {
    transition: opacity var(--main-transition);
}

.sign-up .box input[type="submit"] {
    width: 140px;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
}

/* end sign-up */
/* start footer  */
.footer {
    position: relative;
    background-color: #191919;
    padding-top: 30px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

@media (max-width:767px) {
    .footer .container {
        text-align: center;
    }
}

.footer .box h3 {
    margin: 0 0 20px;
    font-size: 50px;
    color: white;
}

.footer .box .social {
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .footer .box .social {
        justify-content: center;
        gap: 0;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
    transition: var(--main-transition);
    font-size: 20px;
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    color: #b9b9b9;
    line-height: 2;
}

@media (max-width:767px) {
    .footer .box .links {
        text-align: center;
    }
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .footer .box .line {
        flex-direction: column;
    }

    .footer .box .line i {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

.footer .box .line i {
    color: var(--main-color);
    margin-right: 10px;
    font-size: 25px;
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    text-align: center;
    margin: 50px 0 0;
    border-top: 1px solid #444;
    padding: 20px 0;
    color: white;
}

.footer .copyright span {
    letter-spacing: 1.8px;
    font-size: 30px;
    color: var(--main-color);
}

/* end footer  */
/* start animation  */
@keyframes up-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes move-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
    }
}

@keyframes move-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
    }
}

@keyframes moving-arrow {
    to {
        transform: translateX(-5px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation  *\